# ======================
# BACKEND (Spring Boot)
# ======================
TaskHive/target/
TaskHive/.classpath
TaskHive/.project
TaskHive/.settings/
TaskHive/.mvn/
TaskHive/mvnw*
TaskHive/src/main/resources/application-*.properties

# ======================
# FRONTEND (React)
# ======================
TaskHiveFront/node_modules/
TaskHiveFront/build/
TaskHiveFront/.env
TaskHiveFront/.env.*

# ======================
# IDE / OS
# ======================
.idea/
.vscode/
.DS_Store
Thumbs.db
